{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Majuli-VR</title>
    <link rel="stylesheet" href="{%static 'assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
    <link rel="stylesheet" href="{%static 'assets/fonts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/Banner-Heading-Image-images.css'%}">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#">Majuli-VR</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link active" href="#about">About</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#download">Create MAP</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" >
        <div class="intro-body"><img src="{%static 'assets/img/DSC_0772.png'%}">
            <div class="container">
                <div class="row" >
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">MapMaker</h1>
                        <p class="intro-text">An online mapmaker for the project of VR tour of Majuli River Island.</p><a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
          </img>
        </div>
    </header>
    <section class="text-center content-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About Mapmaker</h2>
                    <p>Mapmaker is an online map maker for the <strong>Majuli river island VR tour</strong>. It takes in the image names and the direction to the next photo</p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center download-section content-section" id="download" style="background-image: url('downloads-bg.jpg');">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h1>Create MAP</h1><a href="{% url 'makemap' %}"><button class="btn btn-primary btn-lg btn-default" type="button">Create A new Map</button></a>
            </div>
        </div>
    </section>
    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;Majuli-VR 2023</p>
        </div>
    </footer>
    <script src="{%static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'assets/js/bs-init.js'%}"></script>
    <script src="{%static 'assets/js/grayscale.js'%}"></script>
</body>

</html>
